@model FullStackRestaurantMVC.Models.ViewModels.MenuItemViewModel

@{
    ViewData["Title"] = "Skapa rätt";
}

<h2>Skapa rätt</h2>

<form asp-action="CreateMenu" method="post">
    <partial name="_MenuForm" model="Model" />
    <button type="submit" class="btn btn-success">Skapa</button>
    <a asp-action="Menu" class="btn btn-secondary">Avbryt</a>
</form>
