@model FullStackRestaurantMVC.Models.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Skapa bokning";
}

<h2>Skapa bokning</h2>

<form asp-action="CreateBooking" method="post">
    <partial name="_BookingForm" model="Model" />

    <button type="submit" class="btn btn-success">Skapa</button>
    <a asp-action="Bookings" class="btn btn-secondary">Avbryt</a>
</form>
