@model FullStackRestaurantMVC.Models.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Create Booking";
}

<h2>Create Booking</h2>

<form asp-action="CreateBooking" method="post">
    <partial name="_BookingForm" model="Model" />

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Bookings" class="btn btn-secondary">Cancel</a>
</form>
