@model FullStackRestaurantMVC.Models.ViewModels.TableViewModel

@{
    ViewData["Title"] = "Skapa bord";
}

<h2>Skapa bord</h2>

<form asp-action="CreateTable" method="post">
    <partial name="_TableForm" model="Model" />
    <button type="submit" class="btn btn-primary">Spara</button>
    <a asp-action="Tables" class="btn btn-secondary">Avbryt</a>
</form>
