@model FullStackRestaurantMVC.Models.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Redigera bokning";
}

<h2>Redigera bokning</h2>

<form asp-action="EditBooking" method="post">
    <input type="hidden" asp-for="Id" />
    <partial name="_BookingForm" model="Model" />

    <button type="submit" class="btn btn-primary">Spara</button>
    <a asp-action="Bookings" class="btn btn-secondary">Avbryt</a>
</form>
