@{
    ViewData["Title"] = "Adminpanel";
}

<h1>Adminpanel</h1>
<ul>
    <li><a asp-action="Bookings">Hantera bokningar</a></li>
    <li><a asp-action="Customers">Hantera kunder</a></li>
    <li><a asp-action="Tables">Hantera bord</a></li>
    <li><a asp-action="Menu">Hantera meny</a></li>
</ul>
