@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var hasJwt = Context.Request.Cookies.ContainsKey("jwtToken");
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Kims kök</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Hem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Menu" asp-action="Index">Visa meny</a>
                </li>
                @* @if (HttpContextAccessor.HttpContext!.Session.GetString("JwtToken") != null) *@
                @if (hasJwt)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">Adminvy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Customers">Kunder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Bookings">Bokningar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Tables">Bord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Menu">Hantera meny</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav">
                @* @if (HttpContextAccessor.HttpContext!.Session.GetString("JwtToken") != null) *@
                @if (hasJwt)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="Logout">Logga ut</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="Login">Logga in</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
